.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.new-tweet #empty {
  font-family: "Bungee";
  color: red;
  display: none;
  border: 3px solid red;
}
.new-tweet #too-long {
  font-family: "Bungee";
  color: red;
  display: none;
  border: 3px solid red;
}
.new-tweet .submitForm {
  display: flex;
  flex-direction: column;
}
.new-tweet .submitForm .submitForm label {
  font-weight: bold;
  padding-top: 1em;
}
.new-tweet .submitForm #tweet-text {
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 0.2em solid #5e5e5e;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

#tweet-text::placeholder {
  font-weight: bold;
  font-size: xx-large;
}

.tweetButtonAndCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweetButtonAndCounter .submitButton {
  font-family: "Bungee";
  background-color: #4056a1;
  color: #ffffff;
}
.tweetButtonAndCounter .counter {
  font-family: "Bungee";
  color: #5e5e5e;
}
.tweetButtonAndCounter .exceeded {
  font-family: "Bungee";
  color: red;
}
